nav {
    display: flex;
    gap: 0.5rem;
   }
   a {
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.9s ease-out;
    /* transition property; */
    /* transition duration */
    /* transition-timing-function */


   }
   a:hover, a:focus
    {
    background-color: #fff;
    color: #445ed1
}