    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "box1"
            "box2";
            align-items: center;
            justify-content: center;
    }
    #box1,#box2{
        width: 100vw;
    }
