/* css reset */
*{
    margin: 0%;
    padding: 0%;
}
/* css varriable */
:root{
    --navbar-height:59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
/* logo and image */
#logo img{
margin: 3px 6px;
height: 59px;

}
ul{
    display: flex;
}
ul li{
    list-style: none;
    font-size: 1.3rem;
}
li a{
    color: white;
   text-decoration: none;
   padding: 3px 22px;
   border-radius: 20px;
}
li a:hover{
    color: black;
   background-color: white;
}
/* list styling */
/* home section */
#home{
    display: flex ;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(../item/istockphoto-1340195676-612x612.webp)no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:-1;
    opacity: 0.90;
}
.primary{
    font-size: 3.8rem;
    padding: 12px;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo 2', cursive;
}
.btn{
    padding: 6px 30px;
    border: 2px solid white;
    background-color: brown;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}