.button{
    border: 2px solid black;
    height: 50px;
    width: 80px;
    display: inline-block;
    padding: 30px;
}
#red{
    background-color: red;
}
#grey{
    background-color: gray;
}
#pink{
    background-color: pink;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}